{% extends 'base.html' %}
{% block title %} | Process {% endblock %}
{% load static %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Process</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Process</span></h1>
            <p>Our process to create your dream home</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>CHOOSE YOUR CASA PODS</h3>
                        <p>Browse through our selection of LoftyPods and choose the one that best fits your needs. 
                            One of our team members is always available to answer ant question you have and to walk you through the selection process.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>ZONING & PERMITS</h3>
                        <p>Once you have chosen your CasaPod you will then need to contact your municipality to verify if you will need a permit. 
                            It will be your responsibility to obtain the permit if it is required by your municipality.Use a Urban Planner 
                            to obtian permit fast</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>CHOOSE YOUR EXTERIOR SIDING</h3>
                        <p>Now that the permits have been verified you can choose your homes siding material. 
                            There are several types of materials to choose from and a variety of colors and textures allowing you to create your own distinct style. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>SELECTING YOUR FOUNDATION</h3>
                        <p>A foundation plays a key role in the construction of any home and every building needs one. 
                            Your foundation provides a solid, secure platform that will ensure the weight of your modular 
                            home is properly distributed and keeps it safe from ground movement and moisture.There are several types of 
                            foundations to chooose.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>FINAL COST & PROPOSAL</h3>
                        <p>Now that you have chosen the foundation and siding options we can provided you with a final proposal and price for your pod which will include:
                            Construction of your pod  and Delivery to the site Installation.Once you accept the proposal we will provide you with your schedule of payments which includes:
                            35 percent deposit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>CONTRACT</h3>
                        <p>The next step is to sign the contract for your new modular pod. Our contracts are very detailed and we recommend that you take the time to read it. 
                            Make sure to review your design model options, siding and color selections and ask us any questions you may have. 
                            Feel free to have the contract reviewed by your legal counsel or other third party.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>EXCAVATION & SITE PREPARATION</h3>
                        <p>The greatest thing about modular construction is that the site preparation is done simultaneously with the construction of your home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>TRANSPORTATION & DELIVERY</h3>
                        <p>Our team will deliver the pod to your location. The quote includes transportation cost also.You dont have to be around while we bring the pod to land. Once its done 
                            our team will contact you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>INSTALLATION</h3>
                        <p>Our Experienced team will install your dream home on the land.And our internal security team to install a security package on your house. Your presence 
                            is needed while doing the process.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="https://www.youtube.com/embed/5e0LxrLSzok" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>we produce high quality, affordable modular homes built by a skilled workforce in a climate-controlled environment. </p>
                    <p class="mb-0">All of our homes are building code compliant as consistent with local and provincial housing authorities. Priding ourselves on being the most trustworthy modular housing brand in BC</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->

{% endblock %}